{{ define "main" }}
<section id="main">
  <div class="position-relative p-5 d-flex flex-items-end" style="min-height: calc(100vh - 64px);background: url('https://github.githubassets.com/images/modules/site/home-campaign/hero-bg-md.webp') no-repeat top rgb(2, 2, 2);">
    <div>
      <p class="h2-mktg mt-5 color-fg-on-emphasis">Magnet menarik lebih ramai pelanggan.<span class="h3-mktg v-align-middle" style="white-space:nowrap;">🛍️ 🧲 🏃<span class="ml-n4 ">🏃‍♀️</span></span>Tingkatkan jualan <span class="h3-mktg v-align-middle">📈</span> Biar saya tunjukkan!</p>
      <p class="mt-5 h4-mktg color-fg-subtle">Ketahui cara mudah tingkatkan pelanggan dan jualan anda paling mudah.</p>
    </div>    
  </div>
  <div>
  <div class="p-3 p-md-5">
    <p class="blankslate h2-mktg">Selamat Datang Ke KempasTS</p>
    <p class="f3-mktg">Buka kunci rahsia cara mengembangkan perniagaan dalam talian anda dan mencari pelanggan baharu yang berada di sekitar anda.</p>
    <p class="f3-mktg">Saya Rezza - Saya mengasaskan KempasTS pada 2019 untuk membantu pemilik perniagaan dengan strategi dalam talian mereka.</p>
    <p class="f3-mktg">Semuanya bermula dengan menyediakan step by step untuk melengkapkan peniaga untuk mencari tapak mereka dalam talian. Hasilnya sukar dipercayai dan menakjubkan!</p>
    <p class="f3-mktg"><b>Bagaimanakah caranya?</b> Sebelum itu mari kita lihat testimoni dari berapa client saya yang telah berpuas hati dengan hasil seawal 2 minggu.</p>  
    
    <div class="container clearfix">
      <img loading="lazy" class="width-fit col-12 col-md-3 float-left p-2" src="https://i.ibb.co/4gxKjrT/whatsapp-chat-1.png" alt="">
      <img loading="lazy" class="width-fit col-12 col-md-3 float-left p-2" src="https://i.ibb.co/pyvT9Sj/whatsapp-chat-3.png" alt="">
      <div class="col-12 col-md-3 float-left p-2">
        <img class="width-fit color-shadow-extra-large p-1" src="https://i.ibb.co/brRCbzC/Screenshot-from-2022-11-06-15-47-20-1.png" alt="">
      </div>
      
      <!-- <img loading="lazy" class="width-fit col-12 col-md-3 float-left p-2" src="https://i.ibb.co/4gxKjrT/whatsapp-chat-1.png" alt=""> -->
    </div>
    <p class="text-center">
      <a href="/google-business-profile/" class="btn-mktg arrow-target-mktg my-3 btn-block" type="button">
        Tunjukkan Saya
        <svg xmlns="http://www.w3.org/2000/svg" class="octicon arrow-symbol-mktg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path fill="currentColor" d="M7.28033 3.21967C6.98744 2.92678 6.51256 2.92678 6.21967 3.21967C5.92678 3.51256 5.92678 3.98744 6.21967 4.28033L7.28033 3.21967ZM11 8L11.5303 8.53033C11.8232 8.23744 11.8232 7.76256 11.5303 7.46967L11 8ZM6.21967 11.7197C5.92678 12.0126 5.92678 12.4874 6.21967 12.7803C6.51256 13.0732 6.98744 13.0732 7.28033 12.7803L6.21967 11.7197ZM6.21967 4.28033L10.4697 8.53033L11.5303 7.46967L7.28033 3.21967L6.21967 4.28033ZM10.4697 7.46967L6.21967 11.7197L7.28033 12.7803L11.5303 8.53033L10.4697 7.46967Z"></path>
            <path stroke="currentColor" d="M1.75 8H11" stroke-width="1.5" stroke-linecap="round"></path>
        </svg>
      </a>
    </p>
  </div>
  
  <div class="p-3 p-md-5">
    <p class="f3-mktg">Setelah melihat testimoni di atas, cara paling senang, cepat, dan berkesan ialah dengan menggunakan Google Business Profile (sebelum ini dipanggil Google My Business)</p>  
    <p class="f3-mktg">Servis dari Google dan anda boleh lakukan nya sendiri dari komputer atau telifon bimbit anda. Dengan cara yang betul, tepat dan jitu anda akan dapati lebih ramai pelanggan mendapatkan tawaran anda.</p>
    <p class="f3-mktg">Mari kita lihat keberkesanan Search Engine Optimization (SEO) untuk produk atau servis anda. Kita bagi contoh: karipap (anda boleh cuba perniagaan anda seperti baju, restoran, servis dan lain-lain). Pelanggan dari Johor Bahru teringin makan karipap dan dia cari di Google/ Google Map dan hasilnya:-</p>
    <p class="text-center">
      <a href="/google-business-profile/" class="btn-mktg arrow-target-mktg my-3 btn-block" type="button">
        Tunjukkan Saya
        <svg xmlns="http://www.w3.org/2000/svg" class="octicon arrow-symbol-mktg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path fill="currentColor" d="M7.28033 3.21967C6.98744 2.92678 6.51256 2.92678 6.21967 3.21967C5.92678 3.51256 5.92678 3.98744 6.21967 4.28033L7.28033 3.21967ZM11 8L11.5303 8.53033C11.8232 8.23744 11.8232 7.76256 11.5303 7.46967L11 8ZM6.21967 11.7197C5.92678 12.0126 5.92678 12.4874 6.21967 12.7803C6.51256 13.0732 6.98744 13.0732 7.28033 12.7803L6.21967 11.7197ZM6.21967 4.28033L10.4697 8.53033L11.5303 7.46967L7.28033 3.21967L6.21967 4.28033ZM10.4697 7.46967L6.21967 11.7197L7.28033 12.7803L11.5303 8.53033L10.4697 7.46967Z"></path>
            <path stroke="currentColor" d="M1.75 8H11" stroke-width="1.5" stroke-linecap="round"></path>
        </svg>
      </a>
    </p>
    <p class="f3-mktg"><img loading="lazy" class="width-fit my-2 d-none d-md-block" src="https://i.ibb.co/DRYfCQt/karipap.png" alt="SEO Google untuk karipap mode desktop"></p>
    <p class="f3-mktg"><img loading="lazy" class="width-full width-fit my-2 d-md-none" src="https://i.ibb.co/NYXwxNV/karipap-m.png" alt="SEO Google untuk karipap mode mobile"></p>
    <p class="f3-mktg">Disini peranan anda supaya perniagaan anda dijumpai dan menjadi tempat paling dicari di dalam hasil carian pelanggan.</p>
  </div>

  <div class="p-3 p-md-5">
    <p class="blankslate h2-mktg">Tiada jalan mudah</p>
    <p class="f3-mktg">Walaupun ramai pakar perunding perniagaan cuba beritahu anda, mempromosikan perniagaan anda dalam talian bukanlah skim 'cepat kaya'.</p>
    <p class="f3-mktg">Berita baiknya ialah sesiapa sahaja boleh berjaya. Apa yang diperlukan ialah komitmen untuk mempelajari kemahiran yang anda perlukan untuk menjadi pakar pemasaran digital.</p>
    <p class="f3-mktg">Sebagai pemilik perniagaan, anda mungkin tidak tahu di mana untuk mencari kepakaran yang anda perlukan di luar sana.</p>
    <p class="f3-mktg">Mungkin pada masa lalu anda bergantung pada ahli keluarga yang lebih muda yang kelihatan lebih 'cerdas teknologi' daripada anda, tetapi sebenarnya tidak tahu bagaimana untuk melakukan lebih daripada menatal melalui Instagram?</p>
    <p class="f3-mktg">Mungkin sukar untuk memikirkan cara mempromosikan perniagaan anda secara tempatan – dan di situlah saya boleh membantu.</p>
    <p class="f3-mktg">Saya akan menunjukkan kepada anda cara mudah untuk meningkatkan jendela dalam talian anda menggunakan kuasa hasil carian Google dan membantu anda menjangkau lebih ramai pelanggan setiap hari.</p>
    <p class="f3-mktg">Menarik? Klik pada butang di bawah untuk maklumat lanjut</p>
    <p class="text-center">
      <a href="/google-business-profile/" class="btn-mktg arrow-target-mktg my-3 btn-block" type="button">
        Tunjukkan Saya
        <svg xmlns="http://www.w3.org/2000/svg" class="octicon arrow-symbol-mktg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path fill="currentColor" d="M7.28033 3.21967C6.98744 2.92678 6.51256 2.92678 6.21967 3.21967C5.92678 3.51256 5.92678 3.98744 6.21967 4.28033L7.28033 3.21967ZM11 8L11.5303 8.53033C11.8232 8.23744 11.8232 7.76256 11.5303 7.46967L11 8ZM6.21967 11.7197C5.92678 12.0126 5.92678 12.4874 6.21967 12.7803C6.51256 13.0732 6.98744 13.0732 7.28033 12.7803L6.21967 11.7197ZM6.21967 4.28033L10.4697 8.53033L11.5303 7.46967L7.28033 3.21967L6.21967 4.28033ZM10.4697 7.46967L6.21967 11.7197L7.28033 12.7803L11.5303 8.53033L10.4697 7.46967Z"></path>
            <path stroke="currentColor" d="M1.75 8H11" stroke-width="1.5" stroke-linecap="round"></path>
        </svg>
      </a>
    </p>
    
  </div>
      
</section>
{{ end }}